<div id="lazyload"></div>
    
  

    <!-- BEGIN Slider -->
    <section class="blog-header" id = "blog-slide">
        <div class="blog-header-color"></div>
        <div class="blog-header-content parallaxize" style="background-position: 50% 0px;">
            <div class="container">
                <div class="blog-header-wrapper">
                        <div class="blog-header-title">
                            <h1>Lot Of Features</h1>
                            <h2 class="blog-description">Welcome to the Place, all what you seek!</h2>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Slider -->
    <!-- BEGIN Call to Action -->
    <section class="action text-center">
        <div class="action-wrapper">
            <div class="container">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="white text-center">A BEAUTIFUL, RICH FEATURES & RESPONSIVE TEMPLATE FOR AGENCY OR PORTFOLIO</h4>
                            <br/>
                            <nav class="cl-effect-8">
                                <a href="javascript:;" data-hover="test">Subscribe Me Now!</a>
                                <a href="personal.html" data-hover="test">Check Alternate Template</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Call to Action -->
    <!-- BEGIN Contact -->
    <section id="contact" class="contact parallaxize" style="background:url('../assets/contact-background-old.jpg');">
        
        <div class="contact-wrapper">
            <div class="container">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Contact details -->
                            <div class="row">
                                   <div class="col-lg-6">
                                    <div class="bio">
                                        <h3>So When its starting?</h3>
                                        <p>In this exact moment we working really hard on our new project. You can look forward to an amazing service, which completely rock your world. It's going to literally turn your world upside down.</p>
                                        <p>Leave your email/message to stay tuned.</p>
                                    </div>
                                   <!-- <ul class="bioextra">
                                        <li>
                                            <strong>Call</strong>
                                            <i>Hello</i>
                                        </li>
                                       
                                    </ul>-->
                                </div>
                                <div class="col-lg-6">
                                    <form class="contact-form" novalidate="" id="">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" placeholder="Your Name">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" placeholder="Email">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <textarea class="form-control" placeholder="Message..." rows="5"></textarea>
                                                </div>
                                                <button class="button button-white-side">Notify me</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                             
                            </div>
                            <!--<div class="row">
                                <div class="col-lg-12">
                                    <br/>
                                    <a href="javascript:;"><i class="icon-facebook icon-social button-white-side"></i></a>
                                    <a href="javascript:;"><i class="icon-google-plus icon-social button-white-side"></i></a>
                                    <a href="javascript:;"><i class="icon-dribbble icon-social button-white-side"></i></a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                
                       <!-- <div class="scroll-up"><a href="#blog-slide"><i class="icon-angle-up"></i></a>-->
                </div>
            </div>
        </div>
    </section>
    <!-- END Contact -->